html, body  {
  font-family: arial, sans-serif;
}
table {
  border-collapse: collapse;
  margin-left:10%;
  width:80%;

}
table tr td {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  width:15%;
  border: 1px solid #000;
  padding:7.5% 0 7.5% 0;
  text-align: center;
}
